/* Coolors Exported Palette - https://coolors.co/143109-aaae7f-d0d6b3-f7f7f7-efefef */

/* CSS HEX */
--pakistan-green: #143109ff;
--sage: #aaae7fff;
--beige: #d0d6b3ff;
--seasalt: #f7f7f7ff;
--antiflash-white: #efefefff;

/* CSS HSL */
--pakistan-green: hsla(104, 69%, 11%, 1);
--sage: hsla(65, 22%, 59%, 1);
--beige: hsla(70, 30%, 77%, 1);
--seasalt: hsla(0, 0%, 97%, 1);
--antiflash-white: hsla(0, 0%, 94%, 1);

/* SCSS HEX */
$pakistan-green: #143109ff;
$sage: #aaae7fff;
$beige: #d0d6b3ff;
$seasalt: #f7f7f7ff;
$antiflash-white: #efefefff;

/* SCSS HSL */
$pakistan-green: hsla(104, 69%, 11%, 1);
$sage: hsla(65, 22%, 59%, 1);
$beige: hsla(70, 30%, 77%, 1);
$seasalt: hsla(0, 0%, 97%, 1);
$antiflash-white: hsla(0, 0%, 94%, 1);

/* SCSS RGB */
$pakistan-green: rgba(20, 49, 9, 1);
$sage: rgba(170, 174, 127, 1);
$beige: rgba(208, 214, 179, 1);
$seasalt: rgba(247, 247, 247, 1);
$antiflash-white: rgba(239, 239, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-right: linear-gradient(90deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-bottom: linear-gradient(180deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-left: linear-gradient(270deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-top-right: linear-gradient(45deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-bottom-right: linear-gradient(135deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-top-left: linear-gradient(225deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-bottom-left: linear-gradient(315deg, #143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);
$gradient-radial: radial-gradient(#143109ff, #aaae7fff, #d0d6b3ff, #f7f7f7ff, #efefefff);